* {
    font-family: Helvetica, Arial, sans-serif;
}
label { display: block; }
label:after { content:':'; }

#result {
    white-space: pre;
    font-family: Consolas, monospace;
}

#sheet {
    width: 100%;
    background: white;
    border: 3px solid;
    padding: 20px;
    height: 200px;
    width: 100%;
    position: relative;
}

#lineContainer {
    position: absolute;
    width: 100%;
}
.line {
    border-top: 1px solid;
    border-left: 3px solid grey;
    height: 19px;
    width: 100%;
}

.line.last {
    border-left: 0 none;
    padding: 0 0 0 3px;
}

.dotted {    
    border: 0 none;
    border-top: 1px dotted #ccc;
    padding: 0 0 0 3px;
}

.droptarget {
    width: 14px;
    height: 10px;
    border-radius: 80% 90%;
    z-index: 1;
    background-color: #ddd;
}

.note {    
    width: 30px;
    height: 20px;
    opacity: 1;
    margin: -5px 0 0 -8px;
    border-radius: 80% 90%;
    position: absolute;
    z-index: 2;
    background-color: #666;
}

#keyContainer {
    position: absolute;
    margin: 0 0 0 20px;
}

.violinkey {
    background: url(../img/notes/violinkey.png);
    height: 150px;
    width: 54px;
    margin: -30px 0 0;
}
.basskey {
    background: url(../img/notes/basskey.png);
    height: 75px;
    width: 65px;
    margin: 7px 0 0;
}

.inputContainer {
    margin: 20px 0 0;
    float: left;
}
.player {
    float: left;
    margin: 20px 60px;
    width: 60px;
    overflow: visible;
}
#columnContainer {
    top: 5px;
    left: 110px;
    position: absolute;
}

.column {        
    float: left;
    margin: 0 0 0 20px;
    width: 15px;
}
